In [1]:
import pandas as pd
import sys
import os

# 1. SETUP: Find the 'src' folder tools
# We go up one level '..' then into 'src'
sys.path.append(os.path.abspath('../src'))
import db_utils

# 2. CONNECT: Open the Vault
db_path = '../data/superstore.db'
print(f"‚è≥ Connecting to database at {db_path}...")
conn = db_utils.create_connection(db_path)

if conn:
    print("‚úÖ Connected! Running Analysis Engines...\n")

    # --- TEST 1: YoY Growth (Task 1.6) ---
    print("üìä 1. Year-Over-Year Growth (Time Machine)")
    try:
        with open('../sql_queries/query_growth.sql', 'r') as f: 
            df_growth = pd.read_sql_query(f.read(), conn)
        display(df_growth.head()) 
    except FileNotFoundError:
        print("‚ùå ERROR: query_growth.sql not found.")

    # --- TEST 2: Contribution (Task 1.7) ---
    print("\nüìä 2. Profit Contribution (The Pie Chart)")
    try:
        with open('../sql_queries/query_contribution.sql', 'r') as f: 
            df_contrib = pd.read_sql_query(f.read(), conn)
        display(df_contrib.head())
    except FileNotFoundError:
        print("‚ùå ERROR: query_contribution.sql not found.")

    # --- TEST 3: Returns (Task 1.8) ---
    print("\nüìä 3. Returns Analysis (The Leak)")
    try:
        with open('../sql_queries/query_returns.sql', 'r') as f: 
            df_returns = pd.read_sql_query(f.read(), conn)
        display(df_returns.head())
    except FileNotFoundError:
        print("‚ùå ERROR: query_returns.sql not found.")

    # --- TEST 4: Managers (Task 1.9) ---
    print("\nüìä 4. Manager Performance (The Leaderboard)")
    try:
        with open('../sql_queries/query_managers.sql', 'r') as f: 
            df_managers = pd.read_sql_query(f.read(), conn)
        display(df_managers.head())
    except FileNotFoundError:
        print("‚ùå ERROR: query_managers.sql not found.")

    conn.close()
    print("\n‚úÖ ALL SYSTEMS GO. Phase 1 Complete.")
else:
    print("‚ùå ERROR: Could not connect to database.")

‚è≥ Connecting to database at ../data/superstore.db...
‚úÖ Connected! Running Analysis Engines...

üìä 1. Year-Over-Year Growth (Time Machine)
‚ùå ERROR: query_growth.sql not found.

üìä 2. Profit Contribution (The Pie Chart)
‚ùå ERROR: query_contribution.sql not found.

üìä 3. Returns Analysis (The Leak)
‚ùå ERROR: query_returns.sql not found.

üìä 4. Manager Performance (The Leaderboard)
‚ùå ERROR: query_managers.sql not found.

‚úÖ ALL SYSTEMS GO. Phase 1 Complete.

In [3]:
import pandas as pd
import sys
import os

# 1. SETUP: Find the 'src' folder tools
# (We go up one level '..' then into 'src')
sys.path.append(os.path.abspath('../src'))
import db_utils

# 2. CONNECT: Open the Vault
print("‚è≥ Connecting to database...")
conn = db_utils.create_connection('../data/superstore.db')

if conn:
    print("‚úÖ Connected! Running Analysis Engines...\n")

    # --- TEST 1: YoY Growth ---
    print("üìä 1. Year-Over-Year Growth (Time Machine)")
    with open('../sql_queries/query_growth.sql', 'r') as f: 
        df_growth = pd.read_sql_query(f.read(), conn)
    display(df_growth.head()) # Show first few rows

    # --- TEST 2: Contribution ---
    print("\nüìä 2. Profit Contribution (The Pie Chart)")
    with open('../sql_queries/query_contribution.sql', 'r') as f: 
        df_contrib = pd.read_sql_query(f.read(), conn)
    display(df_contrib.head())

    # --- TEST 3: Returns ---
    print("\nüìä 3. Returns Analysis (The Leak)")
    with open('../sql_queries/query_returns.sql', 'r') as f: 
        df_returns = pd.read_sql_query(f.read(), conn)
    display(df_returns.head())

    # --- TEST 4: Managers ---
    print("\nüìä 4. Manager Performance (The Leaderboard)")
    with open('../sql_queries/query_managers.sql', 'r') as f: 
        df_managers = pd.read_sql_query(f.read(), conn)
    display(df_managers.head())

    conn.close()
    print("\n‚úÖ ALL SYSTEMS GO. Phase 1 Complete.")
else:
    print("‚ùå ERROR: Could not connect to database.")

‚è≥ Connecting to database...
‚úÖ Connected! Running Analysis Engines...

üìä 1. Year-Over-Year Growth (Time Machine)

,OrderYear,Category,TotalProfit,PreviousYearProfit,YoY_Growth_Percent
0,2011,Furniture,53696.9264,NaN,NaN
1,2012,Furniture,58132.8340,53696.9264,8.261008
2,2013,Furniture,84062.9005,58132.8340,44.604855
3,2014,Furniture,89312.0629,84062.9005,6.244327
4,2011,Office Supplies,85996.5343,NaN,NaN

üìä 2. Profit Contribution (The Pie Chart)

,Category,SubCategory,SubCategoryProfit,TotalCategoryProfit,ContributionPercent
0,Furniture,Bookcases,161924.4195,285204.7238,56.774803
1,Furniture,Chairs,140396.2675,285204.7238,49.226487
2,Furniture,Furnishings,46967.4255,285204.7238,16.467969
3,Furniture,Tables,-64083.3887,285204.7238,-22.469259
4,Office Supplies,Appliances,141680.5894,518473.8343,27.326469

üìä 3. Returns Analysis (The Leak)

  Market  TotalOrders  ReturnedOrders  ReturnRate  ProfitMargin
0     EU         4593             284        6.18         12.69
1     US         5009             297        5.93         12.47
2  LATAM         5138             298        5.80         10.24
3   APAC         5437             296        5.44         12.16
4   EMEA         2462               0        0.00          5.45

üìä 4. Manager Performance (The Leaderboard)

          Manager   Region  TotalSales  TotalProfit  ProfitMargin_Percent
0   Anna Andreadi  Central  2822302.52    311403.98                 11.03
1     Chuck Magee    South  1600907.04    140355.77                  8.77
2  Matt Collister     West   725457.82    108418.45                 14.94
3  Kelly Williams     East   678781.24     91522.78                 13.48

‚úÖ ALL SYSTEMS GO. Phase 1 Complete.