In [1]:
import pandas as ps
import sys 
import os
# 1. Setup path to import our custom tools
# We need to look in the '../src' folder again

sys.path.append(os.path.abspath('../src'))
import db_utils

# 2. Define the path to our database
db_path = '../data/superstore.db'

# 3. Test Connection
conn=db_utils.create_connection(db_path)
if conn:
    print("✅ Connected to the SQL Database. Ready for queries.")
    conn.close()
else:
    print("❌ Connection failed.")

Connected to SQLite: ../data/superstore.db
✅ Connected to the SQL Database. Ready for queries.

In [2]:
import pandas as pd
import sys
import os

# 1. Ensure Python can find your 'src' tools
# (This prevents "ModuleNotFoundError" for db_utils if you restarted)
if os.path.abspath('../src') not in sys.path:
    sys.path.append(os.path.abspath('../src'))
import db_utils

# 2. Define variables
db_path = '../data/superstore.db'
sql_file_path = '../sql_queries/query_growth.sql'

# 3. Read the SQL file
with open(sql_file_path, 'r') as file:
    query = file.read()

# 4. Run the query
conn = db_utils.create_connection(db_path)

if conn:
    try:
        df_growth = pd.read_sql_query(query, conn)
        print("✅ YoY Growth Analysis Calculated.")
        display(df_growth)
    except Exception as e:
        print(f"❌ Query Error: {e}")
    finally:
        conn.close()
else:
    print("❌ Could not connect to database.")

Connected to SQLite: ../data/superstore.db
✅ YoY Growth Analysis Calculated.

,OrderYear,Category,TotalProfit,PreviousYearProfit,YoY_Growth_Percent
0,2011,Furniture,53696.92640,NaN,NaN
1,2012,Furniture,58132.83400,53696.92640,8.261008
2,2013,Furniture,84062.90050,58132.83400,44.604855
3,2014,Furniture,89312.06290,84062.90050,6.244327
4,2011,Office Supplies,85996.53430,NaN,NaN
5,2012,Office Supplies,103305.50780,85996.53430,20.127524
6,2013,Office Supplies,149245.73580,103305.50780,44.470260
7,2014,Office Supplies,179926.05640,149245.73580,20.556916
8,2011,Technology,109247.35084,NaN,NaN
9,2012,Technology,145976.93730,109247.35084,33.620574
10,2013,Technology,173626.59388,145976.93730,18.941113
11,2014,Technology,234927.85116,173626.59388,35.306376

In [3]:
# Test the date format in the database
conn = db_utils.create_connection(db_path)
check_query = 'SELECT "Order Date" FROM Orders LIMIT 5;'
df_check = pd.read_sql_query(check_query, conn)
conn.close()

print("--- Date Format Check ---")
display(df_check)

Connected to SQLite: ../data/superstore.db
--- Date Format Check ---

   Order Date
0  2012-07-31
1  2013-02-05
2  2013-10-17
3  2013-01-28
4  2013-11-05

In [4]:
# 1. Read the new SQL file
with open('../sql_queries/query_contribution.sql', 'r') as file:
    query_contrib = file.read()

# 2. Run the query
conn = db_utils.create_connection(db_path)
if conn:
    df_contrib = pd.read_sql_query(query_contrib, conn)
    conn.close()
    
    print("✅ Contribution Analysis Calculated.")
    display(df_contrib)

Connected to SQLite: ../data/superstore.db
✅ Contribution Analysis Calculated.

,Category,SubCategory,SubCategoryProfit,TotalCategoryProfit,ContributionPercent
0,Furniture,Bookcases,161924.41950,285204.72380,56.774803
1,Furniture,Chairs,140396.26750,285204.72380,49.226487
2,Furniture,Furnishings,46967.42550,285204.72380,16.467969
3,Furniture,Tables,-64083.38870,285204.72380,-22.469259
4,Office Supplies,Appliances,141680.58940,518473.83430,27.326469
5,Office Supplies,Storage,108461.48980,518473.83430,20.919376
6,Office Supplies,Binders,72449.84600,518473.83430,13.973675
7,Office Supplies,Paper,59207.68270,518473.83430,11.419609
8,Office Supplies,Art,57953.91090,518473.83430,11.177789
9,Office Supplies,Envelopes,29601.11630,518473.83430,5.709279
10,Office Supplies,Supplies,22583.26310,518473.83430,4.355719
11,Office Supplies,Labels,15010.51200,518473.83430,2.895134
12,Office Supplies,Fasteners,11525.42410,518473.83430,2.222952
13,Technology,Copiers,258567.54818,663778.73318,38.953877
14,Technology,Phones,216717.00580,663778.73318,32.648983
15,Technology,Accessories,129626.30620,663778.73318,19.528542
16,Technology,Machines,58867.87300,663778.73318,8.868599

In [5]:
# 1. Read the new SQL file
with open('../sql_queries/query_returns.sql', 'r') as file:
    query_returns = file.read()

# 2. Run the query
conn = db_utils.create_connection(db_path)
if conn:
    df_returns_analysis = pd.read_sql_query(query_returns, conn)
    conn.close()
    
    print("✅ Returns Analysis Calculated.")
    display(df_returns_analysis)

Connected to SQLite: ../data/superstore.db
✅ Returns Analysis Calculated.

   Market  TotalOrders  ReturnedOrders  ReturnRate  ProfitMargin
0      EU         4593             284        6.18         12.69
1      US         5009             297        5.93         12.47
2   LATAM         5138             298        5.80         10.24
3    APAC         5437             296        5.44         12.16
4    EMEA         2462               0        0.00          5.45
5  Canada          201               0        0.00         26.62
6  Africa         2232               0        0.00         11.34

In [6]:
# 1. Read the new SQL file
with open('../sql_queries/query_managers.sql', 'r') as file:
    query_managers = file.read()

# 2. Run the query
conn = db_utils.create_connection(db_path)
if conn:
    df_managers = pd.read_sql_query(query_managers, conn)
    conn.close()
    
    print("✅ Manager Performance Calculated.")
    display(df_managers)

Connected to SQLite: ../data/superstore.db
✅ Manager Performance Calculated.

          Manager   Region  TotalSales  TotalProfit  ProfitMargin_Percent
0   Anna Andreadi  Central  2822302.52    311403.98                 11.03
1     Chuck Magee    South  1600907.04    140355.77                  8.77
2  Matt Collister     West   725457.82    108418.45                 14.94
3  Kelly Williams     East   678781.24     91522.78                 13.48